.planner-items-base {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 16px;
}

.planner-items-planner {
    background-color: rgba(128, 128, 128, 0.3);
}

.planner-items-hoverable:hover {
    background-color: rgba(128, 128, 128, 0.4);
}
